@font-face{
    font-family: "domine";
    src: url(./fonts/Domine-Regular.ttf);
}

@font-face{
    font-family: "poppins";
    src: url(./fonts/Poppins-Regular.ttf);
}


body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

:root{
    --white: #fff;
    --black: #232323;
    --red: #DF1D1D;
    --green: #19D92E;
    --margin: 1rem;
    --padding: 1rem;
}

.output{
    min-height: 100vh;
    display: grid;
    grid: 
        'dashboard history'
        'form history';
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr; 
    grid-gap: 2rem;  
    margin: var(--margin); 
} 

/************* DASHBOARD *************/
.dashboard{
    grid-area: dashboard;
    display: grid;
    grid:
        'totalBalance totalBalance'
        'income expense';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: var(--white);
    background-color: var(--black);
}

.totalBalance{
    grid-area: totalBalance;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.totalBalance h5{
    font-family: "domine";
    font-size: .6rem;
}

.totalBalance h1{
    font-family: "poppins";
}

.totalBalance h5, .totalBalance h1{
    margin: 0;
}

.income{
    grid-area: income;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.income h6, .expense h6{
    font-size: .6rem;
    font-family: "domine";
}

.income h2, .expense h2{
    font-family: "poppins";
}

.income h6, .income h2{
    margin: 0;
}

.expense{
    grid-area: expense;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expense h6, .expense h2{
    margin: 0;
}

.incomeVal{
    color: var(--green);
}

.expenseVal{
    color: var(--red);
}

/********** FORM ***********/
form{
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h6{
    margin: 0;
}

#inputValue{
    padding: .5rem var(--padding);
    width: 20rem;
    font-size: 1.1rem;
    margin-bottom: var(--margin);
}

#inputPrice{
    padding: .5rem var(--padding);
    width: 20rem;
    font-size: 1.1rem;
    margin-bottom: var(--margin);
}

#addTransaction{
    padding: .8rem 0; 
    width: 22.4rem;
    font-size: 1.1rem;
    font-family: "domine";
    color: var(--white);
    border: 0;
    background-color: var(--red);

}

/*************** HISTORY ************/
.history{
    grid-area: history;
}

.historyTitle{
    margin-bottom: 0;
    font-family: "domine";
}

hr{
    margin: 0;
}

li{
    list-style: none;
}

.historyContainer{
    padding: 0;
    height: 80vh;
    overflow-y: scroll;
}

.historyContainer::-webkit-scrollbar{
    width: 0;
}

.historyInput{
    border-radius: 5px;
    padding: var(--padding);
    margin-bottom: var(--margin);
    display: grid;
    grid: 
        'date itemPrice'
        'item itemPrice';
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--black);
    color: var(--white);
}

.date{
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 0;
    grid-area: date;
}

.item{
    margin: 0;
    grid-area: item;
}

.itemPrice{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    grid-area: itemPrice;
    padding-right: var(--padding);
}